
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* universal selector to remove all margins, padding, and 
    set border-box value to box-sixing property for all elements */
}

/* || GENERAL STYLES */

body {
    background-color: #d9dcd6;
    /* the entirety of the body will have this hex background-color */
}

a {
    color: #ffffff;
    text-decoration: none;
    /* all nav links will be this hex color */
}

p {
    font-size: 16px;
    /* all paragraphs will have 16px font size unless specificity changes it */
}

/* || HEADER */

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    /* sets properties for the entire header */
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    /* displays the header horizontally with a specified font size */
}

.header h1 .seo {
    color: #d9dcd6;
    /* changes the specific color of the "seo" in h1 */
}

/* || NAVIGATION BAR */

.header article {
    /* switched all div elements to article for better accessibility */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Nav Links */

.header article ul {
    list-style-type: none;
    /* there are no symbols beside the items in the nav bar */
}

.header article ul li {
    display: inline-block;
    margin-left: 25px;
    /* allows us to display nav links horizontally with a margin-left property */
}
/* || MAIN */

/* || IMAGE AT TOP */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
/* sets the img to cover the entire width below the header
    with a height of 800 px */
}


/* || CONTENT */

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    /* stacks the elements vertically with a width 75% of the screen width */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content article {
    /* adds a margin to the bottom, padding, and height of 300px
    to all articles with content class */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content img {
    max-height: 200px;
}
   
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* || BENEFITS */

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefits article {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
    /* all h3 elements will have a margin of 10px below and be alignes
    in the center of the parent element*/
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* || FOOTER */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    /* Changed h2 to h4 to accomodate new footer header tag */
    font-size: 20px;
}
