
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* universal selector to remove all margins, padding, and 
    set border-box value to box-sixing property for all elements */
}

/* || GENERAL STYLES */

body {
    background-color: #d9dcd6;
    /* body will have this hex background-color as a base */
}

a {
    color: #ffffff;
    text-decoration: none;
    /* all nav links will be this hex color */
}

p {
    font-size: 16px;
    /* all paragraphs will have 16px font size unless specificity changes it */
}

/* || HEADER */

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    /* sets properties for the entire header */
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    /* displays the header elements horizontally with a specified font size */
}

.header h1 .seo {
    color: #d9dcd6;
    /* changes the specific color of the "seo" in h1 */
}

/* || NAVIGATION BAR */
 /* switched all div elements in html and CSS codes to article element for better accessibility */

.header article {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    /* Changes properties for nav links and has them set to the right side of the navigation bar */
}

.header article ul {
    list-style-type: none;
    /* there are no symbols beside the items in the nav bar */
}

.header article ul li {
    display: inline-block;
    margin-left: 25px;
    /* allows us to display nav links horizontally with a margin-left property */
}
/* || MAIN */

/* Image at top */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
/* sets the img to cover the entire width with a height of 800 px below the header */
}

/* || CONTENT */

.float-left {
    float: left;
    margin-right: 25px;
    /* sets images of top and bottom article elements in 
    content to the left side of the content section */
}

.float-right {
    float: right;
    margin-left: 25px;
    /* sets image in middle article element in content section to the right side of content section */
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    /* stacks the elements vertically to the left of the page with a width 75% of the screen */
}

.content article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    /* sets the properties for the content section */
}

.content img {
    max-height: 200px;
    /* sets image height in content section */
}
   
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
    /* sets spacing and font size of headers in content section */
}
/* || BENEFITS */

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    /* sets property values for the benefits section */
}

.benefits article {
    margin-bottom: 32px;
    color: #ffffff;
    /* sets spacing and color prooperty of benefits section */
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
    /* all header elements will have a margin of 10px at the bottom
    and be aligned in the center of the Benefits section */
}

.benefits img {
    display: block;
        margin: 10px auto;
    max-width: 150px;
    /* displays images in Benefits section vertically */
}

/* || FOOTER */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    
    /* adds padding, properties, and pushes the footer below both content
    and benefits section */

}

.footer h4 {
    /* Changed h2 to h4 for sequential order for better accessibility */
    font-size: 20px;
}
